<html>
    <head>
        <title>My first PHP Website</title>
    </head>
    <body>
        <h2>Registration Page</h2>
        <a href="/blog/">Click here to go back</a><br/><br/>
        <span style="color:red">Success message</span>
        <span style="color:green">Success message</span>
        <form action="/createuser/" method="POST">
           Enter Username: <input type="text" name="username" required="required" /> <br/>
           Enter password: <input type="password" name="password" required="required" /> <br/>
           <input type="submit" value="Register"/>
        </form>
    </body>
</html>